.root {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.message {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-s);
  line-height: var(--line-height-relaxed);
  color: var(--color-text-tertiary);
}
.messageError {
  color: var(--color-feedback-danger-text);
}
